# Auto detect text files and perform LF normalization
* text=auto

# Java sources
*.java text diff=java
*.sql text

# Frontend sources  
*.js text
*.ts text
*.tsx text
*.css text
*.html text
*.json text

# Maven
*.xml text

# Documentation
*.md text